 * {
     box-sizing: border-box;
 }
 
 body {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #c9c9c9 100%);
     background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #c9c9c9 100%);
     background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #c9c9c9 100%);
     background: radial-gradient(center, ellipse cover, #ffffff 0%, #c9c9c9 100%);
     height: 100vh;
     width: 100%;
     background-repeat: no-repeat;
 }
 
 .header {
     width: 100vw;
     height: 60px;
     background-color: #fff;
     position: fixed;
     top: 0;
     left: 0;
     display: flex;
     align-items: center;
 }
 
 #logo {
     width: 60px;
     height: auto;
     padding: 10px;
 }
 
 .organer {
     display: flex;
     justify-content: center;
     height: 300px;
 }
 
 img {
     width: 18%;
 }
 
 h1 {
     font-family: 'Muli', sans-serif;
     font-size: 300px;
     color: #cc0a0a;
     font-weight: 700;
     margin: 0 auto;
     margin-bottom: 25px;
 }
 
 #startText {
     font-family: 'Muli', sans-serif;
     font-size: 90px;
     color: #4e4e4e;
     font-weight: 700;
     margin-top: 300px;
     text-align: center;
 }
 
 h2 {
     font-family: 'Muli', sans-serif;
     font-size: 24px;
     color: #000;
 }
 
 h3 {
     font-family: 'Muli', sans-serif;
     font-size: 25px;
     color: #4e4e4e;
     font-weight: 700;
 }
 
 a {
     text-decoration: none;
 }
 
 .spm h3 {
     display: block;
     margin-top: 10%;
     text-align: center;
 }
 
 .button {
     font-family: 'Muli', sans-serif;
     font-size: 24px;
     color: #fff;
     text-align: center;
     width: 150px;
     border-radius: 50px;
     border: none;
     height: 50px;
     background-color: #CE1D0F;
     display: block;
     margin: 0 auto;
 }
 
 .svar {
     display: flex;
     justify-content: center;
     margin: 25px;
 }
 
 .answer {
     font-family: 'Muli', sans-serif;
     font-size: 14px;
     font-weight: 400;
     color: #CE1D0F;
     text-align: center;
     width: 250px;
     border-radius: 50px;
     border: solid;
     border-color: #CE1D0F;
     border-width: thin;
     height: 50px;
     margin: 0 auto;
     background-color: transparent;
 }
 
 .answer:hover {
     color: #fff;
     background-color: #CE1D0F;
 }
 /*fade effekten på hovedtekst*/
 
 @keyframes fadeInUp {
     0% {
         position: absolute;
         bottom: -5rem;
         opacity: 0;
     }
     75% {
         position: absolute;
         bottom: 25%;
         opacity: 1;
     }
     100% {
         opacity: 0;
     }
 }
 
 .fadeInUp {
     animation-name: fadeInUp;
 }
 /*puls effekten*/
 
 @keyframes pulse {
     25% {
         -webkit-transform: scale(1.2);
         -ms-transform: scale(1.2);
         transform: scale(1.2);
     }
     75% {
         -webkit-transform: scale(0.8);
         -ms-transform: scale(0.8);
         transform: scale(0.8);
     }
 }
 /*.pulse {
     display: inline-block;
     -webkit-transform: translateZ(0);
     -ms-transform: translateZ(0);
     transform: translateZ(0);
 }*/
 
 .pulse:hover {
     -webkit-animation-name: pulse;
     animation-name: pulse;
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
     -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
 }
